.ui.code.submit.button {
    margin-top: 20px;
    margin-left: 25px;
}

.ui.container {
    margin-top: 50px;
}

.ui.tabular.menu {
    margin-left: 29px;
    margin-bottom: 0;
}

.ui.circular.labels {
    margin-bottom: 20px;
    margin-top: 20px;
}